{
  "plugins": [
    "transform-react-pug",
    "@babel/transform-react-jsx",
    [
      "transform-jsx-classname-components",
      {
        "objects": [
          "React"
        ]
      }
    ]
  ]
}