.bg-gray-50.p-5.rounded.mt-4.mr-2.shadow-xl(style={'width': '400px'})
  div
    img(src=imageUrl).rounded.bg-strech.bg-cover.h-64.bg-center
  div
    a(href='#').block.mt-4.text-lg.leading-tight.font-semibold.text-gray-900.hover_underline
      |  { whiskey.name }
    p.mt-2.text-gray-600.h-14
      | { whiskey.description }
    .flex.justify-left.flex-wrap.mt-4.text-sm.-mb-2
      .bg-gray-200.px-3.mb-2.py-1.mr-3.sm_text-xs.rounded.whitespace-no-wrap taste: { whiskey.rate_taste }
      .bg-gray-200.px-3.mb-2.py-1.mr-3.sm_text-xs.rounded.whitespace-no-wrap color: { whiskey.rate_color }
      .bg-gray-200.px-3.mb-2.py-1.mr-3.sm_text-xs.rounded.whitespace-no-wrap smokey: { whiskey.rate_smokey }
      button(onClick=onDelete).text-white.bg-yellow-300.hover_bg-yellow-400.px-3.mb-2.py-1.rounded Delete
