hr
div
  h3 whiskey: { whiskey.name }
  p
    i { whiskey.description }
  p taste: { whiskey.rate_taste }
  p color: { whiskey.rate_color }
  p smokiness: { whiskey.rate_smokey }
  button(onClick=onDelete) delete
