h1 About page
p Hello! We are great at Rails

- @users.each do |user|
  li = user

= link_to 'home', action: 'index'

= react_component("HelloWorld", { greeting: "Hello from react-rails.", info: { name: "react-rails" } }, { class: "hello-world" })

= render 'footer'